<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjtu.web.mapper.FlightMapper">
    <!-- 自定义查询方法的实现 -->
    
    <select id="selectBySex" resultType="com.bjtu.web.model.Flight">
        SELECT * FROM flight WHERE sex = #{sex}
    </select>
    
    <select id="selectByBirth" resultType="com.bjtu.web.model.Flight">
        SELECT * FROM flight WHERE birth = #{birth}
    </select>
    
    <select id="selectByMilesGreaterThan" resultType="com.bjtu.web.model.Flight">
        SELECT * FROM flight WHERE miles > #{miles}
    </select>
    
    <select id="selectByHoursGreaterThan" resultType="com.bjtu.web.model.Flight">
        SELECT * FROM flight WHERE hours > #{hours}
    </select>
</mapper>
